/*-- CSS Reset --*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/* Website CSS code*/

/* Nav Bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #577717;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #B3DB26;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'agencyfb_reg', Arial, Helvetica, sans-serif;
  background-color: #3b3b3b;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #71BC7F;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3b3b3b;
  color: #B3DB26;
}
  /* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #3b3b3b;
  color: #B3DB26;
}

/* Header */
header {
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    height: 455px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3b3b3b;
  color: #B3DB26;
  padding: 6vh;
  font-size: 16px;
  border: none;
  font-family: 'SharpsGF';
  font-size: 5vh;
  margin: 8vh;
  text-align: center;
  width: 60vh;
  position: relative;
  top: 15vh;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'agencyfb_reg';
  font-size: 5vh;
  margin: 8vh;
  text-align: center;
  width: 60vh;
  position: relative;
  top: -1vh;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #B3DB26;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #3b3b3b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #C5C5C5;
color: #577717;}

/*Logo*/
.anonymousdesign-logo {
    width: 1125px;
    height: 464px;
    
}
/*Main Content*/
main {
    background-image: url(Images/website-images/triangle_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #577717;
    width:auto;
    height:100vh;
    text-align: center;
}

/*Footer Content*/
 footer {
background-color: #000000;
height: 30vh;
}

.icons {
  color: #B3DB26;
}
.icons a :hover {
  color: #71BC7F;
}
.social-icons {
  text-align: center;
  font-family:'agencyfb_reg';
  color: #B3DB26;
  font-size: 4vh;
  line-height: 7vh;
  position: relative;
  top: 3vh;
  
}
/*Universal Styling*/

@font-face {
  font-family:'SharpsGF';
  src: url('fonts/SharpsGF.ttf') format('truetype');  
}

@font-face {
  font-family:'agencyfb_reg';
  src: url('fonts/agencyfb_reg.ttf') format('truetype');
}